.progress {
  padding: 36px 44px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.title {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.name {
  max-width: 278px;
}

.progressbar {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 278px;
  height: 36px;
  border-radius: 22px;
}

.done {
  position: absolute;
  height: 100%;
  border-radius: 22px 0px 0px 22px;
}

.percent {
  position: absolute;
  color: #fff;
  text-align: center;
}

.color1 {
  background-color: #565eef;
}

.colorBg1 {
  background-color: #edecff;
  border: 2px solid #565eef;
}

.color2 {
  background-color: #ff6d00;
}

.colorBg2 {
  background-color: #fff2e0;
  border: 2px solid #ff6d00;
}

.color3 {
  background-color: #9a48f1;
}

.colorBg3 {
  background-color: #f9ebff;
  border: 2px solid #9a48f1;
}
