.progress {
  padding: 36px 44px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.title {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.name {
  max-width: 278px;
}

.progressbar {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 278px;
  height: 36px;
  border-radius: 22px;
}

.done {
  position: absolute;
  height: 100%;
  border-radius: 22px 0px 0px 22px;
}

.percent {
  position: absolute;
  text-align: center;
}

.color1 {
  background-color: #565eef;
}

.colorBg1 {
  background-color: #edecff;
  border: 2px solid #565eef;
}

.color2 {
  background-color: #ff6d00;
}

.colorBg2 {
  background-color: #fff2e0;
  border: 2px solid #ff6d00;
}

.color3 {
  background-color: #9a48f1;
}

.colorBg3 {
  background-color: #f9ebff;
  border: 2px solid #9a48f1;
}

.color4 {
  background-color: #88ad1b;
}

.colorBg4 {
  background-color: #f2fbd6;
  border: 2px solid #88ad1b;
}

.color5 {
  background-color: #007fff;
}

.colorBg5 {
  background-color: #e6f9ff;
  border: 2px solid #007fff;
}

@media (max-width: 840px) {
  .title {
    font-size: 28px;
    line-height: 1.2;
  }

  .listItem {
    font-size: 22px;
    line-height: 1.5;
  }

  .progressbar {
    min-width: 250px;
  }

  .percent {
    font-size: 22px;
  }
}

@media (max-width: 680px) {
  .progress {
    padding: 26px 36px 40px;
  }

  .title {
    margin-bottom: 25px;
    font-size: 26px;
  }

  .listItem {
    flex-direction: column;
    row-gap: 10px;
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .progress {
    padding: 26px 15px 40px;
  }
}
