.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #271a58;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*=======header============*/

.sidebar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body {
  display: flex;
  justify-content: space-between;
  min-height: 202px;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1 1 auto;
}

.subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.05px;
  opacity: 50%;
  color: #fff;
  margin-bottom: 17px;
}

.title {
  font-size: 60px;
  line-height: 55px;
  letter-spacing: -1.17px;
  color: #f4f4ff;
}

.sticker {
  display: flex;
  align-items: center;
}

.sticker img {
  min-width: 212px;
  max-height: 100%;
}

/*==========catalog==============*/

.main {
  flex: 1 1 auto;
  padding-bottom: 34px;
}

.footer {
  min-height: 108px;
}

/*======================================*/

@media (max-width: 1199.98px) {
  .container {
    max-width: 970px;
  }
  .title {
    font-size: 50px;
  }
}

@media (max-width: 990.98px) {
  .container {
    max-width: 750px;
  }

  .title {
    font-size: 35px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sidebar {
    min-height: 0;
    flex-direction: column;
  }
  .sticker {
    display: none;
    width: 0;
  }

  .text {
    width: 100%;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 424.98px) {
  .container .sidebar {
    min-height: 0;
    flex-direction: column;
  }

  .subtitle {
    transition: font-size 0.5s ease 0.5s;
    font-size: 15px;
  }

  .title {
    line-height: normal;
  }
}
