.wrapper {
  font-size: 30px;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 95px;
}

.container {
  font-size: 24px;
  line-height: 32px;
  margin-top: 75px;
}

.title__box {
  background-color: rgba(205, 205, 205, 0.1);
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  height: 310px;
}

.title {
  margin: 30px;
}

.foryou {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.foryou__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 87px;
}

.foryou__list_item {
  counter-increment: item;
  display: flex;
  align-items: flex-start;
}

.foryou__list_item::before {
  margin-right: 24px;
  content: counter(item);
  background: #c7e957;
  border-radius: 50%;
  color: #000;
  width: 67px;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.directions {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.directions__list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.directions__list_item {
  list-style-type: disc;
  list-style-position: inside;
}

.results {
  margin-bottom: 75px;
}

.application {
  background: #f9ebff;
  border-radius: 30px;
  padding: 46px 52px;
  margin-bottom: 95px;
  max-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.application__text {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 35px;
  text-align: center;
}

/*======================================*/

@media (max-width: 1199.98px) {
  .wrapper {
    max-width: 950px;
  }

  .title {
    font-size: 50px;
  }

  .title__box {
    background-position: right;
  }

  .heading {
    font-size: 30px;
  }
}

@media (max-width: 990.98px) {
  .wrapper {
    max-width: 750px;
    font-size: 20px;
  }
  .title {
    font-size: 35px;
  }

  .heading {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .foryou__list_item {
    font-size: 23px;
  }

  .foryou__list {
    gap: 20px;
  }

  .application {
    background: #f9ebff;
    border-radius: 30px;
    padding: 46px 52px;
    margin-bottom: 95px;
    max-height: 300px;

    display: flex;
    align-items: center;
  }

  .application__text {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    max-width: none;
    margin: auto 15px;
  }

  .foryou__list_item {
    font-size: 20px;
  }

  .foryou__list {
    gap: 20px;
  }

  .results__text {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .title__box {
    background-position: 90%;
  }

  .foryou__list {
    display: flex;
    flex-direction: column;
  }

  .application__text {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .application {
    max-height: 400px;
  }

  .directions__list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
