.container {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main {
  padding-top: 42px;
  padding-bottom: 94px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.title {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.title:hover {
  cursor: pointer;
  color: #3f007d;
  transform: scale(1.004);
}

.player {
  height: 639px;
  width: 100%;
}

.exercises {
  display: flex;
  justify-content: space-between;
  gap: 94px;
  margin-top: 75px;
}

@media (max-width: 1200px) {
  .container {
    padding-right: calc(50% - 400px);
    padding-left: calc(50% - 400px);
  }

  .exercises {
    flex-direction: column;
    align-items: center;
    gap: 65px;
    margin-top: 50px;
  }

  .player {
    height: 450px;
  }
}

@media (max-width: 840px) {
  .container {
    padding-right: calc(50% - 320px);
    padding-left: calc(50% - 320px);
  }

  .heading {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;
  }

  .title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2;
  }

  .player {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: calc(50% - 300px);
    padding-left: calc(50% - 300px);
  }

  .player {
    height: 350px;
  }
}

@media (max-width: 680px) {
  .container {
    padding-right: calc(50% - 180px);
    padding-left: calc(50% - 180px);
  }

  .title {
    font-size: 20px;
  }

  .exercises {
    margin-top: 40px;
  }

  .player {
    height: 250px;
  }
}

@media (max-width: 425px) {
  .container {
    padding-right: calc(50% - 150px);
    padding-left: calc(50% - 150px);
  }

  .player {
    height: 200px;
  }
}
