.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 18px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  color: red;
  text-align: center;
}

@media (max-width: 424.98px) {
  .inputs {
    width: 240px;
  }
}
