.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 18px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-bottom: 50px;
}

  
.input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d0cece;  
    padding: 8px 5px;
    font-size: 18px;
    color: #d0cece;
    margin: 10px 0px;
}

input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #d0cece;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}