.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.error {
  font-size: 100px;
  font-weight: 900;
  line-height: 30px;
}

.text {
  font-size: 40px;
  text-align: center;
}

.link {
  font-size: 30px;
  cursor: pointer;
}
